.container-lg {
    padding: 60px;
    text-align: center;
    background: #2945a8;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    
  }

.P {
    font-size: 20px;
}




#header {
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-left: 0;

}

#team-name {
    color: black;
    margin-left: 1%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}

#search {
    margin-left: 1%;
    display: flex;
    justify-content: center;
}

#button {
    display: flex;
    justify-content: center;
    
}

.results {
    position: absolute;
    left: 500px;
    border: solid;
    margin: 2%;
}

.local-events {
    position: absolute;
    top: 585px;
    left: 525px;
    border: solid;
}

.card-title {
    margin: 1%;
}

.card-game {
    margin: 1%;
}

.card-date {
    margin: 1%;
}

.card-city {
    margin: 1%;
}

.card-place {
    margin: 1%;
}