.container-lg {
    padding: 60px;
    text-align: center;
    background: #2945a8;
    color: white;
    font-size: 30px;
    font-family: sans-serif;

}


body {
    
}

a{
    text-decoration: none;
    color:black;
}


#table {
    width: 40%;
    margin: 1%;
    cursor: pointer;

}

#header {
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-left: 0;

}

#team-name {
    color: black;
    margin-left: 1%;
    font-size: 20px;
    display: flex;
    justify-content: center;

}

#search {
    margin-left: 1%;
    position: relative;
    left: 500px;
}

#search-button {
    margin: 1%;
    position: relative;
    left: 490px;
    bottom: 2px;
}

.results {
    position: relative;
    left: 300px;
    top: 550px;
    border: solid blue;
    margin: 2%;
}

#table {
    width: 60%;
    border: blue;
    position: absolute;
    left: 300px;
}

.attractions-list{
    display:none
}

.local-events {
    position: relative;
    top: 365px;
    left: 760px;
    border: blue solid;
}

.card-title {
    margin: 1%;
}

.card-game {
    margin: 1%;
}

.card-date {
    margin: 1%;
}

.card-city {
    margin: 1%;
}

.card-place {
    margin: 1%;
}

#card-button {
    margin: 1%;
}
