
.container-lg {
    padding: 60px;
    text-align: center;
    background: #2945a8;
    color: white;
    font-size: 30px;
    font-family: 'Helvetica Neue', ;
    background-image: linear-gradient(gray, black);
    border-radius: 30px;
}

body {
    background-color: silver;

}

a {
    text-decoration: none;
    color: black;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #2945a8;
    color: white;
}

#header {
    display: flex;
    justify-content: center;
}


#search-bar-and-button {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.results {
    padding: 20px;
    border-radius: 30px;
    background: white;
    border: solid;
    box-shadow: 10px 10px 5px gray;
}

#table {
    border: black;
    cursor: pointer;
}

.local-events {
    padding: 20px;
    border-radius: 30px;
    background: white;
    border: solid;
    box-shadow: 10px 10px 5px gray;
}